#map {
    height: 90%;
}

html,
body {
    height: 90%;
    margin: 0;
    padding: 0;
}

.marker-popup-window {
    overflow-x: hidden;
    overflow: hidden;
    width: 60px;
    height: 30px;
    padding: 0px;
    margin: 0px;
    background: white;
    border-bottom-right-radius: 10px;
}